.te-icon-card {
    &.style-2 {
        gap: 20px;
        align-items: center;
        margin-bottom: 0;
        .icon {
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: $white;
        }
        .content {
            width: 100%;
            justify-content: center;
            gap: 10px;

            .title {
                font-size: 20px;
                font-weight: 900;
                line-height: 28px;
                letter-spacing: 0.5px;
            }
            .desc {
                line-height: 22px;
            }
        }
    }
}
