.te-icon-card {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include sm {
        flex-direction: column;
        align-items: flex-start;
    }

    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        .icon {
            img {
                transform: rotateY(360deg);
                @include transition;
            }
        }
    }

    &.style-1 {
        .content {
            .title,
            .desc {
                color: $white;
            }
        }
    }

    .icon {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        background-color: $primary-color;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            @include transition;
        }
    }
    .content {
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include sm {
            gap: 10px;
        }
        .title {
            font-family: $heading-font;
            font-weight: 900;
            font-size: 26px;
            line-height: 36px;
            color: $secondary-color;
            margin-bottom: 0;
        }
        .desc {
            font-family: $body-font;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color: $text-color;
            margin-bottom: 0;

            a {
                color: $text-color;
            }
        }
    }

}
