.te-testimonial-card {
    padding: 40px 40px 0 40px;
    background-color: $gray-100;
    border-radius: 5px;
    position: relative;
    z-index: 2;

    @include rmaxwd(570) {
        padding: 30px 30px 0 30px;
    }
    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 80px;
        @include gradient-color;
        z-index: -1;
        width: 80%;

        @include rmaxwd(570) {
            width: 100%;
        }
    }
    .te-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .content {
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;
            color: $gray-800;
            margin-bottom: 0;
        }
        .te-user-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include rmaxwd(570) {
                align-items: flex-end;
            }
            .te-user-info {
                display: flex;
                gap: 20px;
                

                .image {
                    width: 74px;
                    height: 84px;
                    border-radius: 5px;
                    overflow: hidden;
                    flex-shrink: 0;
                    margin-top: -15px;
                }
                .rating {
                    display: flex;
                    align-items: center;
                    color: $primary-color;
                    font-size: 16px;
                    margin-bottom: 26px;
                }
                .name {
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 34px;
                    letter-spacing: 0.5px;
                    color: $black;
                    margin-bottom: 0;

                    @include sm {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                .designation {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 36px;
                    color: $black;
                }
            }
            .icon {
                color: $gray-200;
                font-size: 55px;
                margin-top: 20px;

                @include rmaxwd(570) {
                    position: absolute;
                    right: 30px;
                    top: 0;
                    z-index: -1;
                    font-size: 35px;
                }
            }
        }
    }
}