.te-testimonial-slider-wrapper {
  position: relative;

  .slick-list {
    margin: 0 -15px;
    .slick-slide {
      margin: 0 15px;
      @include transition;

      // &.slick-active {
      //   @include transition;
      //   box-shadow: 0px 10px 44px 0px rgba(4, 43, 77, 0.08);
      //   background-color: $white;

      //   @include rmaxwd(991) {
      //     box-shadow: 1px 8px 44px rgba(20, 20, 43, 0.03);
      //   }
      // }
    }
  }

  // Slick Dots
  .slick-dots {
    display: flex;
    gap: 16px;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0;
    
    li {
      display: inline-block;
      line-height: 0;
      outline: 2px solid transparent;
      border: 5px solid transparent;
      border-radius: 50px;
      @include transition;

      button {
        font-size: 2px;
        text-indent: -9999px;
        padding: 0;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        border-radius: 50px;
        position: relative;
        @include transition;
      }
      &.slick-active {
        @include transition;
        outline: 2px solid $primary-color;

        button {
          @include transition;
        }
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }

}

