.te-testimonial-card {
    &.style-3 {
        padding: 30px 0 0 0;
        background-color: transparent;
        &::before {
            display: none;
        }
        .te-content-wrapper {
            gap: 15px;
            
            .content {
                .title {
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 28px;
                    letter-spacing: 0.5px;
                    color: $gray-800;
                    margin-bottom: 20px;
                }
            }
            .te-user-meta {
                .te-user-info {
                    align-items: center;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    padding: 25px 40px;

                    @include sm {
                        padding: 15px 30px;
                    }
                    .image {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-top: 0;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                    }
                    .rating {
                        gap: 5px;
                        color: $primary-color;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    .name {
                        span {
                            color: $primary-color;
                        }
                    }
                }
                .icon {
                    font-size: 64px;
                    color: $primary-color;
                    position: absolute;
                    top: -5px;
                    margin-top: 0;
                    right: 0;

                    @include rmaxwd(575) {
                        font-size: 34px;
                    }
                }
            }
        }
    }
}