.te-portfolio-card {
  &.style-3 {
    &:hover {
      .te-content-wrapper {
        .content {
          .btn-wrapper {
            top: 30px;
            right: 0;
            transform: translate(-50%);
            @include transition;
          }
        }
      }
    }
    .te-content-wrapper {
      padding: 0;

      .content {
        .content-inner {
          border-radius: 0;
          align-items: flex-start;
          padding: 48px 30px 43px 30px;

        }
        .btn-wrapper {
          top: -50px;
          right: 0;
          transform: translate(50%);
          @include transition;
        }
      }
    }
  }
}