.client-logo-wrapper {
  padding: 10px 0;

  .client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    @include transition;
    img {
      filter: grayscale(100%);
      @include transition;
    }
    &:hover {
      transform: scale(1.03);
      img {
        filter: none;
        opacity: 1;
      }
    }
  }
}
