// Blog Details Page
.te-blog-details-wrapper {
    .te-comment-respond {
      margin-top: 78px;
      margin-bottom: 40px;
    }
    .te-post-comments {
      margin-top: 70px;
    }
    .wp-block-group.has-background {
      .wp-block-button {
        .wp-block-button__link {
          color: $white !important;
        }
      }
    }
    .te-post-item {
      border: 0;
      overflow: visible;
      box-shadow: none;
      border-radius: 0;
  
      iframe {
        width: 100%;
        height: 522px;
      }
      .te-single-post-meta {
        padding-top: 35px;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid $gray-200;
        flex-wrap: wrap;
      }
      .te-post-meta {
        margin-top: 0;
        margin-bottom: 20px;
      }
      .post-gallery {
        &:hover {
          img {
            transform: scale(1) !important;
          }
        }
      }
      .te-post-thumbnail,
      .post-video,
      .post-gallery,
      .postbox-audio,
      .wp-block-post-featured-image {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 0;
        margin-right: 0;
        position: relative;

        &:hover {
          img {
            transform: scale(1.06);
            @include transition;
          }
        }
  
        img {
          transform: scale(1);
          @include transition;
          width: 100%;
        }
      }
      .te-post-content-wrapper {
        //padding: 0 0 10px 0;
        margin-left: 0;
        margin-top: 0;
      }
      .te-post-content {
        margin-bottom: 17px;
        /* Unit Test Data Compatibility Start */
  
        .wp-block-query .wp-block-post-template {
          padding-left: 0;
  
          .wp-block-post {
            margin-bottom: 30px;
          }
        }
        .wp-block-navigation__responsive-container-content {
          .wp-block-page-list {
            padding-left: 0;
          }
        }
  
        .wp-block-group {
          margin: 15px 0;
          p {
            margin-bottom: 0;
          }
        }
        /* Unit Test Data Compatibility End */
        p {
          margin-bottom: 20px;
  
          img {
            margin: 20px 0;
            border-radius: 8px;
          }
        }
      }
      .te-blog-post-tag {
        .te-social-share {
          padding-bottom: 20px;
        }
      }
    }
    .wp-block-calendar {
      margin-bottom: 30px;
    }
  }
  // Blog Details End
  
// Author
.te-author-info {
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    margin-top: 130px;
    margin-bottom: 70px;
    border-bottom: 1px solid $gray-200;

    .te-post-author-info {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .te-author-thumb {
      flex-shrink: 0;
      width: 120px;
      height: 120px;
      border-radius: 500px;
      overflow: hidden;
  
      img {
        border-radius: 5%;
      }
    }
    .te-author-text {
      h3 {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 10px;
        line-height: 28px;
      }
      .designation {
        font-size: 18px;
        font-style: italic;
        color: $gray-900;
        text-transform: capitalize;
      }
      p {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
    .te-author-social-profiles {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      justify-content: center;
  
      a {
        font-size: 16px;
        color: $white;
        @include transition;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        border-radius: 5px;
        &:hover {
          @include transition;
          background-color: $white;
          color: $primary-color;
        }
      }
    }
    .te-author-post {
      a {
        font-size: 16px;
        font-weight: 900;
        font-family: $heading-font;
        color: $secondary-color;
        border-bottom: 2px solid $gray-200;
        margin-top: 30px;
        display: inline-block;
  
        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
  