// Archive Post Title
.page-header {
  border-left: 4px solid #dfe2e9;
  padding-left: 45px;
  margin-bottom: 50px;

  @include rmaxwd(991) {
    padding-left: 30px;
  }
  .te-page-title,
  .page-title {
    font-size: 42px;
    line-height: 48px;

    @include rmaxwd(991) {
      font-size: 38px;
      line-height: 48px;
    }
  }
}
.blog-area {
  ol,
  ul {
    padding-left: 20px;

    li {
      padding-top: 7px;
    }
  }
}

// Standard Blog Post
.te-post-item {
  //background-color: $white;
  //overflow: hidden;
  margin-bottom: 48px;
  //box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
  //border-radius: 5px 5px 0 0;
  
  &:hover {
    // Post Image
    .te-post-thumbnail,
    .post-video {
      img {
        transform: scale(1.06);
        @include transition;
      }
    }
  }

  iframe {
    width: 100%;
    height: 522px;

    @include sm {
      height: 350px;
    }
  }

  .post-gallery {
    .slick-list {
      .slick-track {
        height: 392px;
        overflow: hidden;
      }
    }
  }
  .te-post-content-wrapper {
    padding: 45px 40px 54px 40px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    margin-left: 40px;
    margin-top: -68px;
    position: relative;

    @include sm {
      padding: 35px;
      padding-top: 30px;
      margin-top: -10px;
      margin-left: 20px;
    }
    .te-read-more {
      margin-top: 40px;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  /* Quote Format Post */
  &.format-quote {
    .te-post-content {
      margin: 0;
    }
    blockquote {
      margin: 0;
      p {
        margin-top: 0;
      }
      cite {
        a {
          font-family: $body-font;
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          color: $text-color;
          margin-top: 20px;
          font-style: normal;
          @include transition;

          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  }
  /* Sticky Post */
  &.sticky {
    border: 2px solid $primary-color;

    .te-post-content {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }

  .te-post-title {
    font-size: 32px;
    line-height: 45px;
    font-weight: 900;
    //margin-bottom: 10px;
    margin-bottom: 0;
    //padding-bottom: 15px;
    //border-bottom: 2px solid $primary-color;

    @include sm {
      font-size: 28px;
      line-height: 42px;
      margin-top: 5px;
      //margin-bottom: 5px;
    }

    &:hover {
      a {
        color: $primary-color;
        @include transition;
      }
    }
  }
  .te-post-content {
    p {
      margin-top: 17px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: unset;
    }
  }

  .te-single-post-meta {
    display: inline-flex;
    align-items: flex-start;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
  }
  // Social Share
  .te-social-share {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;

    a {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid $gray-200;
      color: $gray-900;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;
      }

      //&.facebook {
      //  color: #1877f2;
      //}
      //&.twitter {
      //  color: #1da1f2;
      //}
      //&.linkedin {
      //  color: #1a70c6;
      //}
    }

    .te-social-share-title {
      font-size: 16px;
      font-weight: 900;
      font-family: $heading-font;
      color: $secondary-color;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }
  // Post Tags
  .te-blog-post-tag {
    width: 100%;
    display: inline-block;

    span {
      font-size: 16px;
      font-weight: 900;
      display: inline-block;
      font-family: $heading-font;
      color: $secondary-color;
      margin-bottom: 0;
      margin-right: 30px;
      text-transform: uppercase;
      margin-top: 8px;
      float: left;
    }
    .te-post-tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;

      a {
        color: $text-color;
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        padding: 12px 22px;
        border-radius: 5px;
        @include transition;
        border: 1px solid $gray-200;
        text-transform: capitalize;

        &:hover {
          color: $white;
          background: $primary-color;
          border-color: $primary-color;
          @include transition;
        }
      }
    }
  }

  // Post Image
  .te-post-thumbnail,
  .post-video {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 40px;

    img {
      transform: scale(1);
      @include transition;
      width: 100%;
    }

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #ffffff;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          animation: none;
        }
      }
    }
  }
  // Post Gallery Slick Button
  button.post-gallery-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 17px;
      @include transition;
    }
    &:hover {
      @include transition;
      background-color: $primary-color;

      i {
        color: $white;
        @include transition;
      }
    }
  }

  // Post Audio
  .post-audio {
    iframe {
      width: 100%;
    }
  }
  // Post Meta
  .te-post-meta {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 13px 0;
    flex-wrap: wrap;
    margin-top: 0;

    @include sm {
      gap: 10px;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    span {
      font-size: 18px;
      font-weight: 400;
      color: $text-color;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        color: $primary-color;
        font-size: 18px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text-color;
        @include transition;

        &:hover {
          color: $primary-color;
          @include transition;

          i {
            color: $primary-color;
            @include transition;
          }
        }
      }
    }
  }
}
