.slider-area {
  &.style-2 {
    .te-single-slider {
      .te-slider-container {
        padding-top: 240px;
        padding-bottom: 300px;

        @include rmaxwd(991) {
          padding-top: 100px;
          padding-bottom: 200px;
          flex-direction: column;
        }

        .te-slider-column {
          @include rmaxwd(991) {
            width: 100%;
          }
        }
      }
      .te-slider-overlay {
        background-color: $gray-900;
      }
      .te-slider-line-bar {
        position: absolute;
        right: 45%;
        top: 30%;
        transform: translateY(-50%) rotate(28deg);

        display: flex;
        gap: 40px;

        .slider-line-bar {
          width: 2px;
          height: 290px;
          background: linear-gradient(180deg, #EB3300 0%, rgba(235, 51, 0, 0.37) 100%);

          &.two {
              margin-top: -30px;
              background: linear-gradient(90deg, #DC2531 0%, #95132A 100%);
          }
        }

      }

       .te-slider-feature-image {
          position: absolute;
          right: unset;
         left: 30%;
          bottom: 0;
          height: 100%;
          width: 100%;
         clip-path: polygon(35% 0, 100% 0, 100% 100%, 10% 100%);

         img {
           width: 100%;
           height: 100%;
           object-fit: cover;
         }
      }
     .te-slider-shape {
       position: absolute;
       bottom: 0;
       left: 0;
     }
    }
  }
}