.te-info-card {
    &.style-2 {
        background-color: $white;
        padding: 0;
        overflow: hidden;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);

        &:hover {
            .image {
                img {
                    transform: scale(1.03);
                    @include transition;
                }
            }
        }
        .te-info-card-inner {
            gap: 0;
        }
        .icon {
            position: absolute;
            top: -0%;
            transform: translateY(-50%);
            right: 30px;
        }
        .image {
            overflow: hidden;

            img {
                transform: scale(1);
                @include transition;
                width: 100%;
            }
        }
        .te-title-wrapper {
            padding-bottom: 15px;
        }
        .te-content-wrapper {
            text-align: left;
            align-items: flex-start;
            padding: 40px 30px;
        }
        .content {
            align-items: flex-start;
        }
    }
}


// Slider
.latest-service-slider {
    overflow: hidden;

    .slick-list {
        margin: 0 -15px;
        padding-bottom: 30px;

        .slick-slider-item {
            margin: 0 15px;

            .te-info-card {
                &.style-2 {
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05)
                }
            }
        }
    }
    // Slick Dot
    .slick-dots {
        padding: 0;
        list-style: none;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 50px;
        overflow: hidden;

        @include md {
            margin-top: 30px;
        }
        @include sm {
            margin-top: 20px;
        }
        li {
            font-size: 0;
            line-height: 0;

            &:first-child {
                button {
                    border-radius: 25px 0 0 25px;
                }
            }
            &:last-child {
                button {
                    border-radius: 0 25px 25px 0;
                }
            }
            button {
                width: 50px;
                height: 10px;
                background-color: $gray-200;
                @include transition;
                position: relative;

                &:before {
                    background-color: $primary-color;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    border-radius: 25px;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &.slick-active {
                button {
                    width: 100px;
                    @include transition;

                    &:before {
                        width: 100%;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}