.te-info-card {
    &.style-3 {
        background-color: transparent;
        padding: 0;
        box-shadow: none;

        &:hover {
            .image {
                img {
                    transform: scale(1.03);
                    @include transition;
                }
            }
        }
        .te-info-card-inner {
            gap: 0;
        }
        .icon {
            width: 60px;
            height: 60px;
            position: absolute;
            top: -0%;
            transform: translateY(-50%);
            right: 20px;
            padding: 10px;
        }
        .image {
            overflow: hidden;
            border-radius: 5px;

            img {
                transform: scale(1);
                @include transition;
                width: 100%;
            }
        }
        .te-title-wrapper {
            padding-bottom: 15px;
        }
        .te-content-wrapper {
            text-align: left;
            align-items: flex-start;
            padding: 20px;
            margin-left: 35px;
            position: relative;
            margin-top: -30px;
            z-index: 9;
            background-color: $white;
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            border-radius: 5px 0px 5px 5px;
        }
        .content {
            align-items: flex-start;
        }
    }
}