* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: $body-font;
  color: $text-color;
  vertical-align: baseline;
  line-height: 28px;
  font-smoothing: antialiased;
}
p {
  margin: 0 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $heading-font;
  color: $secondary-color;
  font-style: normal;
  @include transition;
}

h1 {
  font-size: 57px;
  line-height: initial;
  font-weight: 700;

  @include sm {
    font-size: 42px;
  }
}
h2 {
  font-size: 42px;
  line-height: initial;
  font-weight: 700;
  @include sm {
    font-size: 38px;
  }
}
h3 {
  font-size: 38px;
  line-height: initial;
  font-weight: 700;
  @include sm {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
  line-height: initial;
  font-weight: 700;
  @include sm {
    font-size: 20px;
  }
}
h5 {
  font-size: 20px;
  line-height: initial;
  font-weight: 700;

  @include sm {
    font-size: 18px;
  }
}
h6 {
  font-size: 18px;
  line-height: initial;
  font-weight: 700;
}
label {
  color: $text-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
button {
  cursor: pointer;
  @include transition;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a,
.button {
  text-decoration: none;
  @include transition;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: $primary-color;
  text-decoration: none;
  @include transition;
}
a,
button {
  color: $primary-color;
  outline: medium none;
  @include transition;

  &:hover {
    color: $primary-color;
    @include transition;
  }
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: $black;
}

.bg-light-black {
  background-color: rgb(49, 55, 63);
}
.background-red {
  background-color: $primary-color;
}
.bg-dark-blue {
  background-color: rgb(14, 49, 81);
}
.background-light-blue {
  background-color: $primary-color;
}
.background-skye {
  background-color: $primary-color;
}
.background-gray {
  background-color: $gray-50;
}
.background-light-gray {
  background-color: #f3f7fc;
}
.background-gradient {
  @include gradient-color;
}
.backgorund-black {
  background-color: $gray-900;
}
.page-bg {
  background-color: $black;
}

.page-area {
  padding-top: 136px;
  padding-bottom: 124px;
}
.blog-area {
  padding-top: 124px;
  padding-bottom: 84px;
}
.page-area,
.blog-area {

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 52px;
  }
  @include rmaxwd(767) {
    padding-top: 70px;
    padding-bottom: 22px;
  }
  .page-links {
    margin-bottom: 20px;
  }
}
.border-radius-12 {
  border-radius: 12px;
}
.text-white-100 {
  color: $white-100;
}
code {
  color: $primary-color;
}
.te-theme-btn,
.wp-block-loginout a,
input.te-theme-btn {
  display: inline-flex;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: $black;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  @include transition;
  border: 1px solid $primary-color;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: $white;
    border-color: $primary-color;
    background-color: $primary-color;
  }
  &:focus {
    color: $white;
  }

  &.style-2 {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
  &.simple-btn {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.wp-block-loginout {
  a {
    position: relative;

    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "\f105";
      font-family: $font-awesome;
      color: #fff;
      font-size: 16px;
    }
  }
}
.contact-form-btn {
  justify-content: center;
  width: 100%;
  display: block;
  line-height: 42px;

  .icon {
    float: right;
  }

}
input.te-theme-btn {
  display: inline-block !important;
  width: inherit !important;
  border: 0 !important;
}

.te-slider-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  
  @include sm {
    top: unset;
  }
  .te-slider-nav {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: $primary-color;
    font-size: 22px;
    background-color: $gray-100;
    @include transition;
    
    &:hover {
      background-color: $primary-color;
      color: $white;
      @include transition;
    }
  }

  &.style-1 {
    justify-content: flex-end;
  }
}