.price-card {
  padding: 40px;
  z-index: 2;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: $gray-100;

  @include xs {
    padding: 40px 30px;
  }
  @include lg {
    padding: 40px 30px;
  }
  @include xl {
    padding: 55px 40px;
  }
  @include rmaxwd(991) {
    padding: 40px;
  }
  &.active {
    background-color: $gray-900;

    .card-title .title,
    .price .price-heading,
    .price .price-desc,
    .list ul li {
      color: $white;
    }
    .price-header {
      border-color: $gray-700;

      .price-header-icon {
        background-color: #232323;
      }
    }
    .price-btn {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white;
    }

  }
  .price-btn {
    display: block;
    border-radius: 5px;
    border: 1px solid $primary-color;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 10px;
    margin-top: 36px;
    text-align: center;
    @include transition;
    position: relative;
    color: $black;

    i {
      margin-left: 10px;
    }
    &:hover {
      background-color: $primary-color;
      color: $white;
      @include transition;
    }
  }

  .price-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-200;
    padding-bottom: 30px;
    margin-bottom: 40px;

    .price-header-icon {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: $gray-200;
    }
  }
  .card-title {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 17px;

    .sub-title {
      font-family: $body-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      color: $text-color;
    }
    .title {
      font-weight: 900;
      font-size: 26px;
      line-height: 30px;
      color: $black;
      font-family: $heading-font;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 12px;

      span {
        font-size: 12px;
        color: $gray-900;
        background-color: $primary-color;
        font-family: $body-font;
        border-radius: 3px;
        padding: 0 7px;
        display: inline-block;
        line-height: 18px;
      }
    }
  }
  .price {
    display: flex;
    gap: 8px;
    position: relative;
    z-index: 2;
    align-items: flex-end;

    .price-heading {
      font-family: $heading-font;
      font-size: 50px;
      font-weight: 900;
      line-height: 55px;
      display: flex;
      align-items: center;
      gap: 2px;
      margin-bottom: 0;
      color: $black;

      .currency {
        //font-family: $heading-font;
        //font-size: 49px;
        //font-weight: 700;
        //line-height: 55.65px;
        //letter-spacing: -1.59px;
        text-align: start;
        align-self: flex-start;
      }
    }
    .price-desc {
      color: $gray-800;
      font-family: $body-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
  .list-wrapper {
    display: flex;
  }
  .list {
    margin-top: 0;

    ul {
      padding-left: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      width: 100%;
      li {
        list-style: none;
        font-family: $body-font;
        font-weight: 400;
        font-size: 18px;
        color: $black;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
      }
    }
  }
}


//// Price Card Two
//
//.price-card {
//  &.style-1 {
//    border-radius: 20px;
//    border: 1px solid $border-color;
//    background-image: linear-gradient(110deg, rgba(40, 40, 40, 0.29) -0.9%, rgba(77, 77, 77, 0.21) 101.13%);
//    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
//    backdrop-filter: blur(6.5px);
//  }
//  &.style-2 {
//    background-color: $gray-100;
//    background-image: none;
//    backdrop-filter: unset;
//    box-shadow: none;
//    border: none;
//    border-radius: 20px;
//
//    .price {
//      justify-content: flex-start;
//      margin-bottom: 0;
//    }
//  }
//
//}