.sec-shape {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: -1;

  @include sm {
    display: none;
  }
}

// Brand Slider Area
.brand-slider-area {
  &.style-1 {
    padding-top: 100px;
    padding-bottom: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// About Us Area
.about-us-area {
    &.style-1 {
     margin-top: -200px;
      position: relative;
      z-index: 2;

      .about-us-image {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        padding-top: 80px;
        padding-right: 50px;

        @include rmaxwd(1199) {
          display: none;
        }
        .about-us-image-inner {
          height: 100%;
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
          }
        }
      }

      .te-about-info-card {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 80px 80px 80px 225px;

        @include rmaxwd(1199) {
          padding: 40px;
        }
      }
    }
  }


// Testimonial Slider
.testimonial-slider-area {
    &.style-1 {

      .testimonial-image {
        margin-right: -120px;

        @include rmaxwd(991) {
          margin-right: 0;
        }
      }
      .te-section-title {
        margin-bottom: 20px;
        margin-left: 120px;

        @include rmaxwd(991) {
          margin-left: 0;
        }
      }

    }
}
// Portfolio Area
.portfolio-area {
    &.style-1 {
        padding-top: 120px;
        padding-bottom: 96px;

        @include sm {
            padding-top: 80px;
            padding-bottom: 56px;
        }

        @include md {
            padding-top: 100px;
            padding-bottom: 76px;
        }

      .sec-shape {
        position: absolute;
        left: unset;
        top: 0;
        right: 30px;
      }
    }
}

.price-area {
  &.style-1 {
    .sec-shape {
      bottom: 0;
      top: unset;
    }
  }
}
// Process Step Area
.te-process-step-area {
    &.style-1 {
        padding-top: 120px;
        margin-bottom: -150px;

      @include rmaxwd(991) {
        padding-top: 80px;
        margin-bottom: -100px;
      }

      .te-section-title {
        margin-bottom: 130px;
      }
    }
}

// FAQ Area
.faq-area {
  &.style-1 {
    padding-top: 270px;
    margin-bottom: 88px;

    @include md {
      padding-top: 200px;
    }
    @include sm {
      padding-top: 150px;
    }
    .accordion-wrapper {
      padding: 60px;
      border-radius: 5px;
      background-color: $gray-100;
      margin-bottom: -88px;

      @include sm {
        padding: 30px;
      }

    }
  }
}

// Latest Post Area

.latest-posts-area {
    &.style-1 {
      .sec-shape {
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        left: unset;
      }
    }
}

// Team Slider Area
.team-slider-area {
    &.style-1 {
        overflow: hidden;
    }
}


// Appointment Area
.appointment-area {
  &.style-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 120px;
    padding-bottom: 256px;

    .overlay {
      background: linear-gradient(180deg, rgba(235, 51, 0, 0.00) 0%, rgba(235, 51, 0, 0.02) 50.73%, rgba(235, 51, 0, 0.46) 100%);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

// Call To Action
.cta-section-area {
  &.style-1 {
    margin-top: -130px;
    position: relative;
  }
}