.team-page {
    padding-top: 120px;
    padding-bottom: 30px;

}

// Team Details Page
.team-details-page {
    padding-top: 120px;
    padding-bottom: 96px;

    @include sm {
        padding-top: 80px;
        padding-bottom: 56px;
    }

    @include md {
        padding-top: 100px;
        padding-bottom: 76px;
    }
}
.team-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include rmaxwd(991) {
        gap: 30px;
    }

}
.team-details {
    display: flex;
    gap: 60px;
    align-items: center;

    @include rmaxwd(991) {
        flex-direction: column;
        gap: 30px;
    }

    .content {
        display: flex;
        gap: 35px;
        flex-direction: column;

        @include sm {
            gap: 30px;
        }
        @include lg {
            gap: 20px;
        }
    }
    .image {
        width: 520px;
        flex-shrink: 0;
        overflow: hidden;
        img {
            width: 100%;
        }
        @include rmaxwd(991) {
            width: 100%;
        }
        @include lg {
            width: 330px;
        }
    }
    .user-meta {
        .title {
            font-size: 48px;
            letter-spacing: -1.92px;
            margin-bottom: 10px;

            @include rmaxwd(991) {
                font-size: 34px;
                margin-bottom: 10px;
            }
            @include lg {
                font-size: 36px;
            }
        }
        .desc {
            margin-bottom: 0;
            line-height: initial;
            color: $primary-color;
        }
    }
    .social {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        transition: all 0.5s ease-out;

        a {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background-color: $gray-100;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: $gray-900;
            flex-shrink: 0;

            &:hover {
                color: $primary-color;
                @include transition;
            }
        }
    }

    .team-member-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 0;

        @include rmaxwd(575) {
            grid-template-columns: repeat(1, 1fr);
        }

        .te-single-meta {
            display: flex;
            gap: 10px;
        }
        .meta-title {
            font-size: 20px;
            font-weight: 700;
            line-height: initial;
            color: $black;
        }
        .meta-text {
            font-size: 16px;
            font-weight: 400;
            line-height: initial;
            color: $gray-800;
        }

        .client-reviews {
            color: $primary-color;
        }
        .te-social-profile {
            a {
                width: 40px;
                height: 40px;
                border: 1px solid $gray-200;
                border-radius: 50px;
                color: $black;

                &:hover {
                    color: $white;
                    border-color: $primary-color;
                }
            }
        }
    }
}
// Team Details Overview
.team-details-overview-wrapper {
    .sec-title {
        font-size: 26px;
        font-weight: 900;
        line-height: initial;
        color: $gray-900;

        @include rmaxwd(991) {
            font-size: 24px;
        }
    }
}
.team-details-overview {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team-member-info-wrapper {
    position: sticky;
    top: 120px;

    .user-image {
        width: 100%;
        height: 530px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 70px;

        @include sm {
            height: 430px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .team-working-wrapper {
        .working-title {
            font-size: 26px;
            font-weight: 900;
            line-height: initial;
            margin-bottom: 30px;
        }
        .team-working {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .single-working-slot {
                display: flex;
                align-items: center;
                gap: 20px;

                .title {
                    font-size: 18px;
                    flex-shrink: 0;
                }

                .divider {
                    width: 100%;
                    height: 1px;
                    background-color: $gray-200;
                }
            }
        }
    }
}