.te-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    .icon {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        color: $white;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 10px;
    }
    .text {
        font-size: 20px;
        line-height: 40px;
        font-weight: 700;
        color: $gray-900;
        margin: 0;
    }
}
