#preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999999;
  right: 0;
  bottom: 0;
}
#preloader-status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
