.te-about-info-card {
    &.style-2 {
      .te-about-info-content {
        gap: 10px;
        
          .te-list-item-wrapper {
            padding-top: 6px;
            gap: 0;

            .te-list-item {
              .icon {
                width: 16px;
                height: 16px;
                background-color: $primary-color;
                border-radius: 50%;
                color: white;
                font-size: 10px;
              }
              .text {
                color: $gray-800;
              }
            }
          }
          .te-info-list {
            border-top: 1px solid $gray-200;
            padding-top: 40px;

            .divider {
              width: 1px;
              background-color: $gray-200;
              height: 127px;

              @include sm {
                height: 1px;
                width: 100%;
              }
            }
          }
      }
    }
}