.te-about-image-card {
  &.style-2 {

    .te-main-img-wrapper {
      .te-main-img-inner {
        border-radius: 5px;
        padding-right: 80px;
        margin-top: 23px;
        @include sm {
          padding-right: 0;
          margin-top: 0;
        }
        > img {
          margin: 0;
          border-radius: 5px;
        }
        .te-img-card-shape {
          right: -66px;
          top: 60px;
          animation: Animated3 3s linear infinite alternate;

          @include sm {
            display: none;
          }
        }
        .te-another-image {
          position: absolute;
          top: 55%;
          right: -66px;
          @include sm {
            position: relative;
            right: unset;
            top: unset;
          }

          @include xl {
            position: relative;
          }

          .te-another-image-inner {
            border: 5px solid $gray-200;
            overflow: hidden;
            display: inline-block;

            @include sm {
              width: 100%;

              img {
                width: 100%;
              }
            }
          }
          .video-btn {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);


            @include sm {
              left: 0;
              transform: translate(0%, -50%);
            }
              a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                width: 76px;
                height: 76px;
                border-radius: 5px;
                color: $white;
                font-size: 17px;
                flex-shrink: 0;
                animation: ripple 4s infinite;
                box-shadow: 0 0 0 0 rgba(14, 43, 197, 0.8);
              }
          }
          .te-badge-text {
            display: inline-flex;
            align-items: center;
            background-color: $white;
            box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.05);
            padding: 14px 15px;
            border-radius: 5px;
            gap: 11px;
            position: absolute;
            left: -33%;
            top: 46%;
            animation: MoveLeftRight 2s linear infinite alternate;

            @include sm {
              left: unset;
              top: 0;
              transform: translate(-0%, -50%);
              right: 0;
            }
            .icon {
              width: 52px;
              height: 52px;
              background-color: #F2E6FF;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              font-size: 30px;
              color: $primary-color;
            }
            .text {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .title {
                font-size: 20px;
                font-weight: 900;
                line-height: 20px;
                letter-spacing: 0.5px;
                color: $black;
              }
              span {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: $gray-800;
              }
            }
          }
        }
      }
    }
  }
}