// Slider
.te-team-member-slider {
  overflow: hidden;

  .slick-list {
    margin: 0 -15px;

    .slick-slider-item {
      margin: 0 15px;

      .te-team-card {
        width: 410px;
      }
    }
  }
  // Slick Dot
  .slick-dots {
    padding: 0;
    list-style: none;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    overflow: hidden;

    li {
      font-size: 0;
      line-height: 0;

      &:first-child {
        button {
          border-radius: 25px 0 0 25px;
        }
      }
      &:last-child {
        button {
          border-radius: 0 25px 25px 0;
        }
      }
      button {
        width: 50px;
        height: 10px;
        background-color: $gray-200;
        @include transition;
        position: relative;

        &:before {
          background-color: $primary-color;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          border-radius: 25px;
          visibility: hidden;
          opacity: 0;
        }
      }

      &.slick-active {
        button {
          width: 100px;
          @include transition;

          &:before {
            width: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}